<ion-header class="ion-no-border" (click)="back()">
  <ion-img src="assets/images/back.svg" ></ion-img>
  <p class="ion-text-center">THANH TOÁN</p>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row (click)="useMomo()">
      <img src="assets/icon/downarrow.jpeg"/>
    </ion-row>
    <ion-row>
      <span>Thanh Toán MOMO</span>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <img src="assets/images/payment-method.svg"/>
    </ion-row>
    <ion-row>
      <span>Thanh Toan Tien Mat</span>
    </ion-row>
  </ion-grid>
</ion-content>
