ion-header {
    ion-item {
        .backbtn {
            margin-top: 30px;
        }
    }
}

ion-content {
    // --overflow:hidden;
    .main-title {
        display: block;
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        color: #3D3D3D;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .over-turn {
        display: block;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        color: #3D3D3D;
    }
    ion-grid {
        ion-row {
            ion-col {
                margin: auto;
                display: block;
                ion-button {
                    --background: #64C18E;
                    --color: #ffffff;
                    margin-left: 35px;
                    width: 80%;
                    font-size: 17px;
                    font-weight: 400;
                    margin-top: 17px;
                }
            }
        }
    }
}