ion-header{
    // z-index: -1;
    background-color: #64C18E;
    border-radius: 0 0 30px 30px;
    .logo{
        width: 50%;
        margin: 30px auto 30px auto;
        padding-bottom: 100px;
    }
    .user-info{
        width: 30px;
        position: absolute;
        top: 40px;
        right: 16px;
    }

    .slides{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        margin-top: -110px;
        width: 98%;
        left: 1%;
        height: 190px;
        // background-color: #ffffff;
        // border-radius: 30px;
        z-index: 1;
        overflow: hidden;
        filter: drop-shadow(0px 2px 3px #b1b0b0);
        object-fit: cover;
        .slide {
            height: 100%;
            object-fit: cover;
            .slide-img {
                border-radius: 20px;
                // margin-left: -5px;
                // width: 100%;
                height: 100%;
                // background-color: red;
                // object-fit: cover;
            }
        }
    }
}

ion-content{
    ion-grid{
        padding: 0;
        .menu{
            // display: flex;
            justify-content: space-around;
            text-align: center;
            margin-top: 100px;
            div{
                .icon{
                    background-color: white;
                    
                    filter: drop-shadow(0px 2px 3px #b1b0b0);
    
                    padding: 5px;
                    border: 0.5px solid #DEEEDA;
                    border-radius: 24px;
                    img{
                        height: 70px;
                        width: 73px;
                    }
                }
            }
        }
        .layout-main{
            margin-left: -3%;
            // padding: 25px;
            margin-bottom: 10px;
            .product{
                height: 175px;
                background-color: #ffffff;
                padding: 0;
                overflow: hidden;
                border-radius: 30px;
                .img{
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    // filter: drop-shadow(0px 2px 5px #b1b0b0);
                }
                
            }
            .content-product{
                display: block;
                margin: auto;
                text-align: center;
                justify-content: center;
                font-size: 17px;
                margin-top: 5px;
                font-weight: 600;
                color: #575757;
            }
        }
    }
}






// .group-product{
//     padding: 0;
//     display: inline-flex;
//     overflow: scroll;
//     border-bottom: 1px solid #C4C4C4;
//     span{
//         display: inline-block;
//         list-style: none;
//         padding: 10px;
//         color: #6D6D6D;
//     }
// }