ion-content{
    .contaitner{
        margin-top: 155px;
        height: 100%;
        display: flex;
        flex-direction: column;
        ion-img{
            margin: 25px auto;
            display: flex;
        }
        .title{
            display: flex;
            justify-content: center;
            flex-direction: column;
            ion-label{
                font-size: 27px;
                font-style: italic;
                letter-spacing: 0.95px;
                color: #595A5A;
                opacity: 1;
                text-align: center;
    
            }
        }
       
    }
  
}