<ion-content>
     <div class="icon layout-main ">
          <img width="15%" (click)="backPage()" src="./../../../assets/images/back.svg" alt="">
     </div>
     <div class="layout-main change-password">
          <h2 class="title">ĐỔI MẬT KHẨU</h2>
          <form class="form-change" [formGroup]='formGroup'>
               <ion-row>
                    <ion-col>
                         <label for="current_password">Nhập mật khẩu hiện tại</label>
                         <ion-input type="password" formControlName='current_password'></ion-input>
                    </ion-col>
               </ion-row>
               <ion-row>
                    <ion-col>
                         <label for="password">Nhập mật khẩu mới</label>
                         <ion-input type="password" formControlName='password'></ion-input>
                    </ion-col>
               </ion-row>
               <ion-row>
                    <ion-col>
                         <label for="password_confirmation">Nhập lại mật khẩu mới</label>
                         <ion-input type="password" formControlName='password_confirmation'></ion-input>
                    </ion-col>
               </ion-row>
          </form>
          <button (click)="changePassword()">Đồng ý</button>
     </div>
</ion-content>