.change-password {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    .title{
        color: #64C18E
    }
    label {
        color: #8ad4e4;
        padding-top: 15px;
        font-size: 17px;
    }
    ion-row {
        border-bottom: 1px solid #787878;
        input {
            width: 100%;
        }
    }
    button {
        background-color: #64C18E;
        color: #ffffff;
        padding: 10px 55px;
        border-radius: 20px;
        margin-top: 35px;
        width: 60%;
    }
}

.icon{
    margin-top: 15px;
}

.form-change{
    width: 100%;
}
