.required-field-main {
    min-height: 30px;
    padding: 5px;
}

.required-field-min-height {
    min-height: 30px;
}

.required-field-msg {
    font-size: 11px;
    text-align: left;
    color: red;
}
