ion-header{
    background-color: #64C18E;
    height: 145px;
    border-radius: 0 0 30px 30px;
    .back{
        position: absolute;
        width: 50px;
        margin-top: 25px;
        margin-left: 20px;
    }
    .label{
        font-size: 23px;
        font-weight: 700;
        color: #ffffff;
        display: block;
        margin-top: 60px;
    }
    // .logo{
    //     display: block;
    //     width: 50%;
    //     margin: 30px auto 30px auto;
    //     padding-bottom: 100px;
    // }
}

ion-content{
    .main-field{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 40px 20px;
        ion-label{
            margin-left: 10px;
            font-size: 17px;
        }
        ion-input{
            margin-top: 5px;
            border-radius: 66px;
            border: 1px solid #333333;
            --padding-start: 10px;
        }
        ion-button{
            width: 100%;
            --background: #F47B60;
            --border-radius: 50px;
        }
    }
}