<ion-header class="ion-no-border">
  <ion-img src="assets/images/back.svg" class="back" (click)="back()"></ion-img>
  <!-- <ion-img src="assets/images/lavashin-logo-white.svg" class="logo"></ion-img> -->
  <ion-label class="label ion-text-center">QUÊN MẬT KHẨU</ion-label>
</ion-header>

<ion-content>
  <ion-row class="main-field" *ngIf="checkChangePassword == true">
    <ion-label>Bước 1: Nhập email của bạn: </ion-label>
    <ion-input type="email" (keyup)="getEmailToSend($event)" placeholder="Nhập email của bạn"></ion-input>
    <ion-button [disabled]="checkSendCode || toSend.email == '' " class="button" (click)="sendCode()">{{sendString}}</ion-button>
  </ion-row>

  <ion-row class="main-field" *ngIf="checkChangePassword == true">
    <ion-label>Bước 2: Xác nhận mã OTP: </ion-label>
    <!-- <ion-input (keyup)="getEmailToCheck($event)" placeholder="Nhập lại email "></ion-input> -->
    <ion-input (keyup)="getCode($event)" placeholder="Nhập mã gồm 6 số "></ion-input>
    <ion-button [disabled]="toCheck.code == ''"  class="button" (click)="checkCode()">Xác nhận</ion-button>
  </ion-row>

  <ion-row class="main-field" *ngIf="checkChangePassword == false">
    <ion-label>Bước 3: Nhập mật khẩu mới: </ion-label>
    <ion-input type="password" (keyup)="getNewPassword($event)" placeholder="Nhập mật khẩu mới "></ion-input>
    <ion-input type="password" (keyup)="getConfirmPassword($event)" placeholder="Xác nhận mật khẩu "></ion-input>
    <ion-button [disabled]=" toResetPassword.password == '' || toConfirmPassword == '' " class="button" (click)="changePassword()">Đặt lại mật khẩu</ion-button>
  </ion-row>
</ion-content>
